

.logout-button{
    background-color: crimson;
    color:aliceblue;
    height:33px;
    width:120px;
    border:0px;
    border-radius: 4px;
    text-align: center;
    padding:4px;
    display: block;
    text-align: center;
}
.logout-heading{
    padding:22px;
    color:darkmagenta;
    
    text-align: center;

}