
.add-category-form{
    padding:33px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}
.dashboard{
    background-color: rgb(76, 110, 111);
    color:aliceblue;
    text-align: center;
    height:33px;
    padding:4px;
    border-radius: 6px;
    border: 0px;
    width:150px;
    cursor: pointer;
}
