
.add-category-button{
    width:140px;
    height:33px;
    border: 0px;
    border-radius: 4px;
    background-color: blue;
    color:aliceblue;
    text-align: center;
    padding:5px;
    margin-right:20px;
    box-sizing: border-box;
    margin-bottom:10px;
}
.add-category-section{
    text-align: right;
    width: 79vw;
    text-align: right;
}
.edit-button{
    background-color: cornflowerblue;
    background-color: aliceblue;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right:4px;
    cursor: pointer;
    height:24px;
    width:45px;
    text-align: center;
}
.delete-button{
    background-color: chocolate;
    color: aliceblue;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    height:24px;
    width:45px;
    text-align: center;
}
@media (max-width:576px){
    .add-category-section{
        width:20vw;
        text-align: left;
    }
}