
.add-category-button{
    width:140px;
    height:33px;
    border: 0px;
    border-radius: 4px;
    background-color: blue;
    color:aliceblue;
    text-align: center;
    padding:5px;
    margin-right:20px;
    box-sizing: border-box;
    margin-bottom:10px;
}
.add-category-section{
    width: 80vw;
    text-align: right;
}
.edit-button{
    background-color: rgb(96, 148, 243);
    color: aliceblue;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right:16px;
    cursor: pointer;
    height:24px;
    width:65px;
    text-align: center;
    margin-left:18px;
    margin-bottom: 14px;
}
.delete-button{
    background-color: chocolate;
    color: aliceblue;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    height:24px;
    width:65px;
    text-align: center;
    margin-bottom: 14px;
}

@media (max-width:576px){
    .add-category-section{
        width:200px;
    }
}