
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;

}
.form{
    padding:30px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);;
    background-color: rgb(237, 241, 246);
    text-align: left;
    width:100%;
    max-width: 400px;

}
.form:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}
.login-button{
    width: 100%;
    cursor: pointer;
    height:37px;
    text-align: center;
    background-color: rgb(43, 43, 218);
    color:aliceblue;
    border: 0px;
    border-radius: 4px;
    padding:4px;
    margin-top:22px;
}
.login-heading{
    text-align: center;
    color:rgb(43, 123, 94);
}
input{
    width: 97%;
    height:28px;
    margin-top:4px;
    margin-bottom: 5px;
}
.allready-account{
    color:rgb(77, 67, 55);
}
.dont-have-account{
    color:brown;
}